/node_modules
uprpc-app/dist
uprpc-app/node_modules
uprpc-mock/dist
uprpc-mock/node_modules
uprpc-lib/dist
uprpc-lib/node_modules
.DS_Store
uprpc-mock/.DS_Store
.vscode/launch.json
uprpc-app/release/
uprpc-app/static/
